@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

$primary: #d62c0b;
$secondary: #0e0f2b;
$light: #d7d7d7;
$border-radius-sm: 1rem;
$border-radius-lg: 2.5rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background: url("../img/background.jpg") repeat;
  padding: 1.5rem;
}

p {
  letter-spacing: 0.4px;
}

::placeholder {
  // font-size: 20px;
  padding: 0 !important;
  color: $light !important;
  opacity: 1;
}

.p-4 {
  padding: 2.25rem !important;
}

.ps-4 {
  padding-left: 2.5rem !important;
}
.pt-4 {
  padding-top: 2.5rem !important;
}
.pe-4 {
  padding-right: 2.5rem !important;
}

.ps-2 {
  padding-left: 0.75rem !important;
}

.logo {
  width: 14rem !important;
  margin-bottom: 1.25rem;

  @media (max-width: 640px) {
    width: 12rem !important;
  }
}

.wrapper {
  width: 35rem;
  max-height: 28rem;
  transition: all 400ms ease !important;

  @media (max-width: 640px) {
    width: 100%;
    padding: 1.75rem !important;
  }

  &.active {
    & .input-group {
      margin-bottom: 2.25rem !important;
    }

    & ul {
      // display: block !important;
      height: auto;
      opacity: 1;
    }

    & .no-definition {
      display: none !important;
    }
  }
}

.search-icon,
.clear-icon,
.audio-icon {
  i {
    transition: 100ms;
  }
}

.clear-icon {
  i {
    cursor: pointer;
  }
}

.audio-icon {
  i {
    color: white;

    &:hover {
      color: $primary !important;
    }
  }
}

.search-icon {
  order: -1;
}

.no-definition {
  display: none;

  i {
    font-size: 35px;
    margin-top: 12px;
  }
}

input {
  letter-spacing: 0.2px;

  &:not(:placeholder-shown) {
    & ~ .search-icon i {
      color: $primary !important;
    }

    & ~ .clear-icon i {
      display: block !important;
    }
  }
}

ul {
  height: 0;
  opacity: 0;
  overflow-y: auto;
  transition: all 300ms ease !important;

  &::-webkit-scrollbar {
    // width: 3.5px;
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $light;
    border-radius: 20px !important;

    &:hover {
      background: darken($light, 15);
    }
  }
}

li {
  &:not(:first-child) {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      left: 0;
      border-left: solid 5px #d62c0b;
      height: 75%;
    }
  }
}

.synonyms {
  span {
    border-bottom: 1px solid white;
    line-height: 24px;
    cursor: pointer;
  }
}
